Exercise 1: Print First 10 natural numbers using while loop

In [1]:
i = 1
while i <=10:
    print(i)
    i +=1

1
2
3
4
5
6
7
8
9
10

Exercise 2: Print the following pattern

In [3]:
print("Number Pattern")
row = 5
for i in range(1, row +1, 1):
    for j in range(1, i+1):
        print(j,end='')

    print("")

Number Pattern
1
12
123
1234
12345

Exercise 3: Calculate the sum of all numbers from 1 to a given number

In [5]:
s = 0
n = int(input("Enter Number"))

for i in range(1, n+1, 1):
    s+=i
print("\n")
print("Sum is: ", s)

Enter Number 10

Sum is:  55

Exercise 4: Write a program to print multiplication table of a given number

In [6]:
n = int(input("Enter Number"))
for i in range(1,11,1):
    product = n*i
    print(product)

Enter Number 3

3
6
9
12
15
18
21
24
27
30

Exercise 5: Display numbers from a list using loop

In [7]:
numbers = [12, 75, 150, 180, 145, 525, 50]

for i in numbers:
    if i > 500:
        break
    elif i >150:
        continue
    elif i%5 == 0:
        print(i)

75
150
145

Exercise 6: Count the total number of digits in a number

In [10]:
num = 75867
count = 0
while num !=0:
    num = num // 10
    count = count +1
print("Total digits are:", count)

Total digits are: 5

In [12]:
n = 5
k = 5
for i in range(0, n+1):
    for j in range(k-i,0,-1):
        print(j,end='')
    print()

54321
4321
321
21
1

Band name generator